<!-- app/views/user_mailer/confirmation_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Confirmación de Correo Electrónico - Readme</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
          margin: 0;
          padding: 0;
      }
      .container {
          max-width: 600px;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .logo {
          text-align: center;
          margin-bottom: 20px;
      }
      .logo img {
          width: 150px;
          height: auto;
      }
      .content {
          margin-bottom: 20px;
      }
      .confirmation-code {
          background-color: #007bff;
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          padding: 10px;
          border-radius: 5px;
      }
      .message {
          text-align: center;
          margin-top: 20px;
      }
      .footer {
          text-align: center;
          margin-top: 20px;
      }

  </style>
</head>
<body>
<div class="container">
  <div class="logo">
    <img src="https://res.cloudinary.com/dkrmah0f7/image/upload/f_auto,q_auto/v1/logos/ba9gzat2ppzgg89rhqbm" alt="Readme Logo">
  </div>
  <div class="content">
    <h2>¡Bienvenido <%= @user.username %> a Readme!</h2>
    <p>Para completar tu registro, por favor confirma tu correo electrónico utilizando el siguiente código:
    <div class="confirmation-code">
      <a href="https://test--readme-test.netlify.app/auth/email_confirmation/<%= @code %>" style="color: #fff"> Haz Click en este enlace para confirmar tu email </a>
    </div>
    <!--<div class="confirmation-code"> <%#= @code %> </div>-->
    <p class="message">¡Gracias por unirte a nuestra comunidad de lectores!</p>
    <p class="message">¿No solicitaste este correo electrónico? Por favor, ignóralo. Tu cuenta está segura.</p>
  </div>
  <div class="footer">
    <p>¿Necesitas ayuda? <a href="">Contáctanos</a></p>
    <p>Readme &copy; <%= Time.now.year %></p>
  </div>
</div>
</body>
</html>
